
/* Reset de estilos padrão e estilos básicos para o corpo da página */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.headerbody{
    position: sticky;
    left: 0;
    width: 40%; /* Largura da coluna esquerda */
    background-color: #154a70;
    position: -webkit-sticky;
    top: 0; /* Fixa o elemento no topo da tela */
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-direction: column; /* Alterado para column para empilhar as seções verticalmente */
    padding: 2% 2%;
    text-align: left;
    height: 100%;
}

.mainbody{
    overflow-y: auto; /* Adiciona barra de rolagem vertical somente quando necessário */
    flex: 1; /* Ajusta a largura para preencher o restante do espaço */
    padding: 20px;
    width: 60%;
}

section {
    width: 100%;
    height: 100vh;
}

body {
    box-sizing: border-box; /* alura*/
    /* background-color: #0a3952; */
    color: #fafafa;
    display: flex;
    background: #0b1c28;

}

main {
    display: flex;
    flex-direction: column; /* Alterado para column para empilhar as seções verticalmente */
    align-items: center;
    justify-content: space-between;
}

footer{
    padding: 24px;
    background: linear-gradient(105deg, #183549, #1b4b6f, #183549);
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;


    /* font-family: 'Helvetica', sans-serif; */
    /* padding: 2px 0; primeiro vertical e segundo horizontal */

    /* width: auto;
    height: 100px; */



}

footer img {
    height: 5%; /* Ou ajuste conforme necessário */
    width: 30%;
    align-items: flex-end;
    margin-top: -5px;
    padding: 2px;
}

/* Media query para telas de celular */
@media screen and (max-width: 1024px) {
    body {
        /* box-sizing: border-box; alura */
        background-color: #154a70;
        color: #fafafa;
        display: flex;
        flex-direction: column; /* Altera para direção de coluna em telas de celular */
        overflow-y: auto;
    }
    .headerbody{
        width: 100%;
        padding: 20px;
        position: static;
        height: 100%;
    }

    .mainbody{
        padding: 20px;
        width: 100%;
    }

  }

.dark-mode body{
    background: #d13636;
    color: #323536;
}

.dark-mode .headerbody{
    background-color: #474c4e;;

}

.dark-mode .headerNav {
    background: #272a2b;
}

.dark-mode #about-section {
    background-color: #272a2b;
}

.dark-mode #skills-section {
    background:  #383c3d;
}


.dark-mode #projects-section {
    background: #272a2b;
}

.dark-mode #certificate-section {
    background: #383c3d;
}

.dark-mode footer{
    background: #272a2b;
}


/* header navegação */

.headerNav {
    background: linear-gradient(105deg, #183549, #1b4b6f, #183549);
    padding: 10px;
}

.headerUl {
    list-style-type: none; /* Remove os marcadores de lista */
    display: flex; /*Torna a lista horizontal */
    justify-content: flex-end;

}

.headerli {
    margin-right: 20px; /*Espaçamento entre os itens do menu */
    display: flex;
    /* flex-direction: column; */
    /* align-items:flex-end ; Centraliza os itens horizontalmente */
    justify-content: flex-end; /* Distribui os itens igualmente no espaço vertical disponível */
    height: 100%;
    width: 40%;
    gap: 5%;
}

.headerLanguageBtn {
    border: none;
    background-color: #06617a;
    color: white; /* Cor do texto */
    padding: 2px 2px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%; /* Deixa o botão redondo
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /*Adiciona sombra*/
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 20%;
    height: 20%;
    justify-content: center;
  }

.headerLanguageBtn:hover {
    background-color: #125669; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
  }

.headerLanguageBtn:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

@media (max-width: 768px) {
    .headerLanguageBtn {
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        transform: scale(0.95);
    }
}

/* header home */

.headerhome {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    height: 100%;
}

.header__body {

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    width: 100%;
    height: 100%;
    gap: 60px;
}

.headerIMG {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 5px;
}

.headerbuttonLink {
    display: flex;
    /* flex-direction: column; */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: space-around; /* Distribui os itens igualmente no espaço vertical disponível */
    height: 100%;
    width: 100%;

}

.header-round-button-1 {
    border: none;
    background-color: #0b3946;
    color: white; /* Cor do texto */
    padding: 2px 2px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40%; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    width: 100%;
    height: 10%;
    justify-content: center;
  }

.header-round-button-1:hover {
    background-color: #125669; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
  }

.header-round-button-1:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

@media (max-width: 768px) {
    .header-round-button-1 {
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        transform: scale(0.95);
    }
}

.header-round-button-2 {
    border: none;
    background-color: #0b3946; /* Cor de fundo inicial */
    color: white; /* Cor do texto */
    padding: 2px 2px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40%; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    align-self: flex-end;
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    width: 100%;
    height: 10%;
    justify-content: center;
  }

.header-round-button-2:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

@media (max-width: 768px) {
    .header-round-button-2 {
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        transform: scale(0.95);
    }
}

.header-round-button-2:hover {
    background-color: #125669; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
  }

.headertxt {

    color: #fff; /* Cor do texto branco */
    text-align: center;
    /* width: 70%; */
    justify-content: center;
    align-items: center;
    /* padding: 5px 5px; */
    height: 100%;

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    padding: 20px;
    width: 50%;

    gap: 10px;


}

.header__title {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

.header__p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

/* header contacts */

.headercontacts__body {
    display: flex;
    /* justify-content: space-between; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    width: 100%;
    height: 100%;

}

.headercontacts__ul{
    /* display: flex; */

    list-style-type: none;
    width: 100%;
    height: 100%;
}

.headercontacts__li{
    background-color: #062324;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 8px; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    padding: 2px 2px;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;

}

.headercontacts__li:hover {
    background-color: #054f53; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 30px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
    text-decoration: none;
}

.headercontacts__a {
    color: #fff;
    display: flex;
    padding: 2px 2px;
    height: 40%;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.headercontacts__a i {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* main body */

#light {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(19, 112, 159, 0.627); /* Cor da luz com transparência */
    box-shadow: 0px 0px 300px 0px rgb(252, 253, 254); /* Box-shadow com cor mais forte */
    border: 1px solid rgb(60, 165, 218);
    pointer-events: none; /* Para não afetar a interação do mouse com outros elementos */
    transition: all 0.1s ease; /* Transição suave para o efeito */
    z-index: 9999; /* Certifique-se de que a luz esteja acima de todos os outros elementos */
}

#about-section {
    /* background: linear-gradient(105deg, #183549, #1b4b6f, #183549); */
    background-size: cover;  /*  para cobrir toda a tela */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para evitar repetição da imagem */
    /* box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
    border: 3px solid rgb(105, 71, 122); */
    background: #173245;
    overflow: hidden;
    display: flex;
    gap: 30px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;

}

.AboutMe__body1 {
    display: flex;
    width: 80%;
    justify-content: center;
    text-align: center;
}

.AboutMe__title {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 45%;
    margin-top: 50px;
    height: 50%;

}

.AboutMe__button{
    font-size: 1em;
    width: 15%;
    margin-top: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.AboutMeBtn {
    border: none;
    background-color: #06617a;
    color: white; /* Cor do texto */
    padding: 2px 2px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%; /* Deixa o botão redondo
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /*Adiciona sombra*/
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 60%;
    height: 60%;
    justify-content: center;
  }

.AboutMeBtn:hover {
    background-color: #125669; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
  }

.AboutMeBtn:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

@media (max-width: 768px) {
    .AboutMeBtn {
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        transform: scale(0.8);
        height: 30%;
    }
}

/* about me body 2 */

.AboutMe__body {
    display: flex;
    width: 75%;
    height: 80%;
    margin-left: 250px;
    margin-right: 250px;
}

.AboutMe {

    color: #fff; /* Cor do texto branco */
    text-align: justify;
    width: 100%;
    height: 90%;

    overflow: auto;


}

.AboutMe__p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.AboutMe__p strong {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color: #87e9ff;
}

#skills-section {
    background: #1d3f57;
    /* background: linear-gradient(105deg, #183549, #1b4b6f, #183549); */
    background-size: cover;  /*  para cobrir toda a tela */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para evitar repetição da imagem */
    /* box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
    border: 3px solid rgb(105, 71, 122); */
    overflow: hidden;
    display: flex;
    gap: 20px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    padding: 20px;


}

.skills__title {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 50vw;
    margin-top: 50px;
}

.skills__body {
    display: flex;
    gap: 10px;
    height: 80%;
    width: 75%;


    text-align: justify;
    justify-content: center;
    align-items: center;

}

.skills {
    width: 50%;
    height: 80%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    /* font-size: 36px; */
    color: rgb(18, 35, 42);
    -webkit-text-stroke: 1px rgb(157, 204, 255); /* Largura e cor da borda */



    /* text-align: justify; */
    /* padding: 20px; */
    /* overflow: auto; */
}

.skills__l{
    display: flex;
    justify-content: center;
    text-align: center;


}

.skills__l img {
    width: 25%;
    height: 70%;
}

.skills__p {
    font-family: 'Exo', sans-serif;
    font-size: 1.9em;
    width: 75%;
    height: 100%;



}

.skills__p:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

@media (max-width: 768px) {
    .skills__p {
        font-size: 0.8em; /* Diminui o tamanho da fonte para telas menores */
    }
}

#projects-section {
    background: #173245;
    /* background: linear-gradient(105deg, #183549, #1b4b6f, #183549); */
    background-size: cover;  /*  para cobrir toda a tela */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para evitar repetição da imagem */
    /* box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
    border: 3px solid rgb(105, 71, 122); */
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;

}

.projects__title {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 50vw;
    margin-top: 50px;

}

.projects__body {
    display: flex;
    width: 75%;
    height: 80%;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projects__title2 {
    height: 10%;
    font-size: 40px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 50vw;
    margin-top: 20px;
}

.projects__title2:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

.projects__initials {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 2% 2%;
    width: 100%;
    height: 100%;

}

.projects__link {
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 50%;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 8px; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    padding: 2px 25px;
    justify-content: center;
    text-align: center;
}

.projects__link:hover {
    background-color: #054f53; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 30px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
    text-decoration: none;
  }

@media (max-width: 768px) {
    .projects__link {
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        height: 20%;
        gap: 20px;
    }

    .projects__txt {
        font-size: 0.8em; /* Diminui o tamanho da fonte para telas menores */
    }

    .projects__img {
        width: 70%;
    }
    .projects__initials {
        height: 80%;
    }

}

.projects__txt {
    font-family: 'Exo', sans-serif;
    font-size: 1.9em;
    width: 75%;
    height: 100%;
    color: rgb(18, 35, 42);
    -webkit-text-stroke: 1px rgb(157, 204, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.projects__txt:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

.projects__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.projects__img img {
    width: 100%;
    height: 70%;

}


#certificate-section {
    background:  #1d3f57;
    background-size: cover;  /*  para cobrir toda a tela */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para evitar repetição da imagem */
    /* box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
    border: 3px solid rgb(6, 57, 77); */
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
}

.certificate__title {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 50vw;
    margin-top: 50px;

}

.certificate__body {
    display: flex;
    /* flex-direction: column; */
    height: 80%;
    width: 50%;
    margin-left: 150px;
    margin-right: 150px;
}

.certificate {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 2% 2%; */
    width: 100%;

    height: 100%;
}

.certificate__link {
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 50%;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 8px; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    padding: 2px 2px;
    justify-content: center;
    text-align: center;
}

.certificate__link:hover {
    background-color: #054f53; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 30px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
    text-decoration: none;
  }

@media (max-width: 768px) {
    .certificate__link {
        font-size: 0.2em; /* Diminui o tamanho da fonte para telas menores */
        height: 20%;

    }
    .certificate__txt {
        font-size: 0.2em; /* Diminui o tamanho da fonte para telas menores */

    }
}

.certificate__txt {
    width: 50%;
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2px 2px;

}

.certificate__txt:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão quando clicado */
}

.certificate__img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}




/* rodape */

.dados {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-top: -5px;
    height: 150px;

}

.dadoscontacts__ul{
    display: flex;

    list-style-type: none;
    width: 100%;
    height: 100%;
}

.dadoscontacts__li{

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 10%; /* Deixa o botão redondo */
    transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
    padding: 2px 2px;
    width: 40%;
    height: 75%;
    align-items: center;
    justify-content: center;

}

.dadoscontacts__li:hover {
    background-color: #054f53; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    border: 2px solid #fafafa; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0px 0px 30px 0px rgb(255, 255, 255); /* Aumenta a sombra ao passar o mouse */
    text-decoration: none;
}

  .dadoscontacts__a {
    color: #fff;
    display: flex;
    padding: 2px 2px;
    height: 40%;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.dadoscontacts__a i {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .dadoscontacts__ul{
        display: flex;
        list-style-type: none;
        width: 100%;
        height: 20%;
    }

    .dadoscontacts__li{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        border-radius: 10%; /* Deixa o botão redondo */
        transition: all 0.3s; /* Adiciona uma transição de 0.3 segundos */
        box-shadow: 0px 0px 10px 0px rgb(248, 247, 247); /* Adiciona sombra */
        padding: 2px 2px;
        width: 65%;
        height: 20%;
        align-items: center;
        justify-content: center;
        font-size: 0.5em; /* Diminui o tamanho da fonte para telas menores */
        transform: scale(0.95);
        display: flex;

    }

    .dados {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-top: -5px;
        height: 10%;
        width: 40%;

    }
}

